{% extends 'base.html.twig' %}

{% block title %}New Player{% endblock %}

{% block body %}
    <h1 class="mt-5" style="text-align: center;margin-bottom: 70px">Add new Player</h1>
<div>
    {{ include('player/_form.html.twig') }}

</div>


{% endblock %}
