{% extends 'base.html.twig' %}

{% block title %}Edit Team{% endblock %}

{% block body %}
    <h1 class="mt-5" style="margin-left: 10px;margin-bottom: 50px">Edit Team</h1>

    {{ include('team/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('team/_delete_form.html.twig') }}
{% endblock %}
