{% extends 'base.html.twig' %}

{% block title %}New Team{% endblock %}

{% block body %}
    <h1 class="mt-5" style="margin-left: 10px;margin-bottom: 50px">Create new Team</h1>
    {{ include('team/_form.html.twig') }}


{% endblock %}
