{% extends 'base.html.twig' %}

{% block title %}Edit Matches{% endblock %}

{% block body %}
    <h1 class="mt-5" style="margin-left: 10px;margin-bottom: 50px">Add score</h1>

    {{ include('matches/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('matches/_delete_form.html.twig') }}
{% endblock %}
