{% extends 'base.html.twig' %}

{% block title %}Home Page{% endblock %}

{% block body %}

    <div style="background-image: url({{ asset('back.png') }}); background-size: cover; background-position: center; min-height: 90vh; display: flex; align-items: center; justify-content: center;">
            <div class="centered-container" style="margin-top: 4px">
                <button class="btn custom-button-home-page">
                    <a href="{{ path('app_team_new') }}" class="custom-link-button-home">Add teams</a>
                </button>
            </div></div>

{% endblock %}
