{% extends 'base.html.twig' %}

{% block title %}Edit Sponsor{% endblock %}

{% block body %}
    <h1 class="mt-5" style="margin-left: 5px;margin-bottom: 50px">Edit Sponsors</h1>

    {{ include('sponsors/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('sponsors/_delete_form.html.twig') }}
{% endblock %}
