{% extends 'base.html.twig' %}

{% block title %}New Sponsors{% endblock %}

{% block body %}
    <h1 class="mt-4" style="margin-bottom: 50px">Add new Sponsors</h1>

    {{ include('sponsors/_form.html.twig') }}


{% endblock %}
