{% extends 'base.html.twig' %}

{% block title %}Standings{% endblock %}
{% block body %}

    <h1 class="title">Standings</h1>
<table class="table  table-striped">
    <thead>
    <tr>
        <th style="text-align: center;">Place</th>
        <th style="text-align: center;">Team</th>
        <th style="text-align: center;">Points</th>

    </tr></thead>
    <tbody>

       {% for team in teams %}
    <tr><td style="text-align: center;">{{ var }}</td><td style="text-align: center;">{{ team.name }}</td> <td style="text-align: center;">{{ team.point }}</td></tr>
      {% set var=var+1 %}
       {% endfor %}
    </tbody></table>

{% endblock %}
